button{
    background-color:#bbe1fa;
    color: black;
    border-radius: 10%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 0.2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 10%;
    height: 50px;
    text-align: center;
    margin-top: 1%;
    font-size: 150%;
    cursor: pointer;
}

button:hover{
    background-color: rgb(101, 186, 255);
    transition-duration: 0.5s;
}

#display{
    height: 70px;
    width: 40.5%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10%;
    background-color: rgb(237, 235, 237);
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    margin-left: 470px;
    margin-top: -37%;
    padding: 30px; 
    width: 50%;
}


.operator{
    background-color: #ffb3c1;
}

.operator:hover{
    background: rgb(255, 85, 114);
    transition-duration: 0.5s;
    cursor: pointer;
}

.clear{
    background-color:#bbe1fa;
    color: black;
    margin-left: 39.5%;
    margin-top: -1.5%;
    width: 21%;
    border-radius: 10%;
}

.bgc{
    background-color: #ffc1c1;
    padding: 10%;
    width: 10%;
    height: 240px;
    border-radius: 10%;
    margin-left: 35%;
    margin-top: -43%;
    border: 2px solid rgb(255, 40, 176);
    box-shadow: 2px 2px 7px 7px pink;
}

.bgc-2{
    padding: 42.3%;
    width: 16%;
    height: 1000%;
    background-color: #ffefc3;
    margin-top: -40%;
}